html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: rgb(253, 224, 39);
  color: #222222;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 10px auto;
}

img {
  width: 320px;
  height: 300px;
  margin-bottom: 25px;
}

input {
  color: #161412;
  background-color: #dce1eb;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}

button {
  color: #fdfdfd;
  background-color: #11900c88;
  border: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin-top: 20;
}

button:hover {
  background-color: rgb(8, 203, 8);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: #dce1eb;
  color: #222222;
  padding: 15px;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover {
  background-color: #ff8164;
  color: crimson;
  cursor: pointer;
}

img :hover .picone {
  opacity: 0%;
}
